@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: white;
  overflow: hidden;
}

.app {
  position: relative;
  min-width: 850px;
  height: 540px;
  overflow: hidden;
}

.app__bgimg {
  position: absolute;
  top: 0;
  left: -2.5%;
  width: 105%;
  height: 100%;
  -webkit-transition: -webkit-transform 3.5s 770ms;
  transition: -webkit-transform 3.5s 770ms;
  transition: transform 3.5s 770ms;
  transition: transform 3.5s 770ms, -webkit-transform 3.5s 770ms;
}

.app__bgimg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.app__bgimg-image--1 {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city22222.jpg") center center no-repeat;
  background-size: cover;
}

.app__bgimg-image--2 {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/forest.jpg") center center no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0ms 1300ms;
  transition: opacity 0ms 1300ms;
  will-change: opacity;
}

.app__text {
  position: absolute;
  right: 165px;
  top: 150px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  z-index: 1;
}

.app__text-line {
  -webkit-transition: opacity 750ms 500ms, -webkit-transform 1500ms 400ms;
  transition: opacity 750ms 500ms, -webkit-transform 1500ms 400ms;
  transition: transform 1500ms 400ms, opacity 750ms 500ms;
  transition: transform 1500ms 400ms, opacity 750ms 500ms, -webkit-transform 1500ms 400ms;
  will-change: transform, opacity;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.app__text-line--4 {
  -webkit-transition: opacity 1500ms 1500ms, -webkit-transform 1500ms 1500ms;
  transition: opacity 1500ms 1500ms, -webkit-transform 1500ms 1500ms;
  transition: transform 1500ms 1500ms, opacity 1500ms 1500ms;
  transition: transform 1500ms 1500ms, opacity 1500ms 1500ms, -webkit-transform 1500ms 1500ms;
}

.app__text-line--3 {
  -webkit-transition: opacity 1500ms 1750ms, -webkit-transform 1500ms 1600ms;
  transition: opacity 1500ms 1750ms, -webkit-transform 1500ms 1600ms;
  transition: transform 1500ms 1600ms, opacity 1500ms 1750ms;
  transition: transform 1500ms 1600ms, opacity 1500ms 1750ms, -webkit-transform 1500ms 1600ms;
}

.app__text-line--2 {
  -webkit-transition: opacity 1500ms 2000ms, -webkit-transform 1500ms 1700ms;
  transition: opacity 1500ms 2000ms, -webkit-transform 1500ms 1700ms;
  transition: transform 1500ms 1700ms, opacity 1500ms 2000ms;
  transition: transform 1500ms 1700ms, opacity 1500ms 2000ms, -webkit-transform 1500ms 1700ms;
}

.app__text-line--1 {
  -webkit-transition: opacity 1500ms 2250ms, -webkit-transform 1500ms 1800ms;
  transition: opacity 1500ms 2250ms, -webkit-transform 1500ms 1800ms;
  transition: transform 1500ms 1800ms, opacity 1500ms 2250ms;
  transition: transform 1500ms 1800ms, opacity 1500ms 2250ms, -webkit-transform 1500ms 1800ms;
}

.app__text-line--4 {
  font-size: 50px;
  font-weight: 700;
  color: #0A101D;
}

.app__text-line--3 {
  font-size: 40px;
  font-weight: 300;
}

.app__text-line--2 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #0099CC;
}

.app__text-line--1 {
  margin-top: 15px;
}

.app__text-line--1 img {
  width: 50px;
}

.app__text--1 .app__text-line {
  -webkit-transform: translate3d(0, -125px, 0);
          transform: translate3d(0, -125px, 0);
  opacity: 0;
}

.app__text--2 {
  right: initial;
  top: 250px;
  left: 80px;
  z-index: -1;
  -webkit-transition: z-index 1500ms;
  transition: z-index 1500ms;
}

.app__text--2 .app__text-line--4 {
  opacity: 0;
  -webkit-transition: opacity 400ms 125ms, -webkit-transform 1500ms -75ms;
  transition: opacity 400ms 125ms, -webkit-transform 1500ms -75ms;
  transition: transform 1500ms -75ms, opacity 400ms 125ms;
  transition: transform 1500ms -75ms, opacity 400ms 125ms, -webkit-transform 1500ms -75ms;
}

.app__text--2 .app__text-line--3 {
  opacity: 0;
  -webkit-transition: opacity 400ms 200ms, -webkit-transform 1500ms 0ms;
  transition: opacity 400ms 200ms, -webkit-transform 1500ms 0ms;
  transition: transform 1500ms 0ms, opacity 400ms 200ms;
  transition: transform 1500ms 0ms, opacity 400ms 200ms, -webkit-transform 1500ms 0ms;
}

.app__text--2 .app__text-line--2 {
  opacity: 0;
  -webkit-transition: opacity 400ms 275ms, -webkit-transform 1500ms 75ms;
  transition: opacity 400ms 275ms, -webkit-transform 1500ms 75ms;
  transition: transform 1500ms 75ms, opacity 400ms 275ms;
  transition: transform 1500ms 75ms, opacity 400ms 275ms, -webkit-transform 1500ms 75ms;
}

.app__text--2 .app__text-line--1 {
  opacity: 0;
  -webkit-transition: opacity 400ms 350ms, -webkit-transform 1500ms 150ms;
  transition: opacity 400ms 350ms, -webkit-transform 1500ms 150ms;
  transition: transform 1500ms 150ms, opacity 400ms 350ms;
  transition: transform 1500ms 150ms, opacity 400ms 350ms, -webkit-transform 1500ms 150ms;
}

.app__img {
  position: absolute;
  -webkit-transform: translate3d(0, -750px, 0);
          transform: translate3d(0, -750px, 0);
  width: 850px;
  height: 100%;
  -webkit-transition: -webkit-transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
  transition: -webkit-transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
  transition: transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
  transition: transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02), -webkit-transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
  will-change: transform;
}

.app__img img {
  min-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.initial .app__img {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.initial .app__text--1 .app__text-line--1 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 400ms 1600ms, -webkit-transform 1500ms 1400ms;
  transition: opacity 400ms 1600ms, -webkit-transform 1500ms 1400ms;
  transition: transform 1500ms 1400ms, opacity 400ms 1600ms;
  transition: transform 1500ms 1400ms, opacity 400ms 1600ms, -webkit-transform 1500ms 1400ms;
  opacity: 1;
}

.initial .app__text--1 .app__text-line--2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 400ms 1675ms, -webkit-transform 1500ms 1475ms;
  transition: opacity 400ms 1675ms, -webkit-transform 1500ms 1475ms;
  transition: transform 1500ms 1475ms, opacity 400ms 1675ms;
  transition: transform 1500ms 1475ms, opacity 400ms 1675ms, -webkit-transform 1500ms 1475ms;
  opacity: 1;
}

.initial .app__text--1 .app__text-line--3 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 400ms 1750ms, -webkit-transform 1500ms 1550ms;
  transition: opacity 400ms 1750ms, -webkit-transform 1500ms 1550ms;
  transition: transform 1500ms 1550ms, opacity 400ms 1750ms;
  transition: transform 1500ms 1550ms, opacity 400ms 1750ms, -webkit-transform 1500ms 1550ms;
  opacity: 1;
}

.initial .app__text--1 .app__text-line--4 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 400ms 1825ms, -webkit-transform 1500ms 1625ms;
  transition: opacity 400ms 1825ms, -webkit-transform 1500ms 1625ms;
  transition: transform 1500ms 1625ms, opacity 400ms 1825ms;
  transition: transform 1500ms 1625ms, opacity 400ms 1825ms, -webkit-transform 1500ms 1625ms;
  opacity: 1;
}

.active .app__bgimg {
  -webkit-transform: translate3d(10px, 0, 0) scale(1.05);
          transform: translate3d(10px, 0, 0) scale(1.05);
  -webkit-transition: -webkit-transform 5s 850ms ease-in-out;
  transition: -webkit-transform 5s 850ms ease-in-out;
  transition: transform 5s 850ms ease-in-out;
  transition: transform 5s 850ms ease-in-out, -webkit-transform 5s 850ms ease-in-out;
}

.active .app__bgimg .app__bgimg-image--2 {
  opacity: 1;
  -webkit-transition: opacity 0ms 1500ms;
  transition: opacity 0ms 1500ms;
}

.active .app__img {
  -webkit-transition: -webkit-transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
  transition: -webkit-transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
  transition: transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
  transition: transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02), -webkit-transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
  -webkit-transform: translate3d(0, -1410px, 0);
          transform: translate3d(0, -1410px, 0);
}

.active .app__text--1 {
  z-index: -1;
  -webkit-transition: z-index 0ms 1500ms;
  transition: z-index 0ms 1500ms;
}

.active .app__text--1 .app__text-line--1 {
  -webkit-transform: translate3d(0, -125px, 0);
          transform: translate3d(0, -125px, 0);
  -webkit-transition: opacity 400ms 500ms, -webkit-transform 1500ms 300ms;
  transition: opacity 400ms 500ms, -webkit-transform 1500ms 300ms;
  transition: transform 1500ms 300ms, opacity 400ms 500ms;
  transition: transform 1500ms 300ms, opacity 400ms 500ms, -webkit-transform 1500ms 300ms;
  opacity: 0;
}

.active .app__text--1 .app__text-line--2 {
  -webkit-transform: translate3d(0, -125px, 0);
          transform: translate3d(0, -125px, 0);
  -webkit-transition: opacity 400ms 575ms, -webkit-transform 1500ms 375ms;
  transition: opacity 400ms 575ms, -webkit-transform 1500ms 375ms;
  transition: transform 1500ms 375ms, opacity 400ms 575ms;
  transition: transform 1500ms 375ms, opacity 400ms 575ms, -webkit-transform 1500ms 375ms;
  opacity: 0;
}

.active .app__text--1 .app__text-line--3 {
  -webkit-transform: translate3d(0, -125px, 0);
          transform: translate3d(0, -125px, 0);
  -webkit-transition: opacity 400ms 650ms, -webkit-transform 1500ms 450ms;
  transition: opacity 400ms 650ms, -webkit-transform 1500ms 450ms;
  transition: transform 1500ms 450ms, opacity 400ms 650ms;
  transition: transform 1500ms 450ms, opacity 400ms 650ms, -webkit-transform 1500ms 450ms;
  opacity: 0;
}

.active .app__text--1 .app__text-line--4 {
  -webkit-transform: translate3d(0, -125px, 0);
          transform: translate3d(0, -125px, 0);
  -webkit-transition: opacity 400ms 725ms, -webkit-transform 1500ms 525ms;
  transition: opacity 400ms 725ms, -webkit-transform 1500ms 525ms;
  transition: transform 1500ms 525ms, opacity 400ms 725ms;
  transition: transform 1500ms 525ms, opacity 400ms 725ms, -webkit-transform 1500ms 525ms;
  opacity: 0;
}

.active .app__text--2 {
  z-index: 1;
}

.active .app__text--2 .app__text-line--1 {
  -webkit-transform: translate3d(0, -125px, 0);
          transform: translate3d(0, -125px, 0);
  -webkit-transition: opacity 1300ms 1300ms, -webkit-transform 2500ms 1100ms;
  transition: opacity 1300ms 1300ms, -webkit-transform 2500ms 1100ms;
  transition: transform 2500ms 1100ms, opacity 1300ms 1300ms;
  transition: transform 2500ms 1100ms, opacity 1300ms 1300ms, -webkit-transform 2500ms 1100ms;
  opacity: 1;
}

.active .app__text--2 .app__text-line--2 {
  -webkit-transform: translate3d(0, -125px, 0);
          transform: translate3d(0, -125px, 0);
  -webkit-transition: opacity 1300ms 1575ms, -webkit-transform 2500ms 1175ms;
  transition: opacity 1300ms 1575ms, -webkit-transform 2500ms 1175ms;
  transition: transform 2500ms 1175ms, opacity 1300ms 1575ms;
  transition: transform 2500ms 1175ms, opacity 1300ms 1575ms, -webkit-transform 2500ms 1175ms;
  opacity: 1;
}

.active .app__text--2 .app__text-line--3 {
  -webkit-transform: translate3d(0, -125px, 0);
          transform: translate3d(0, -125px, 0);
  -webkit-transition: opacity 1300ms 1850ms, -webkit-transform 2500ms 1250ms;
  transition: opacity 1300ms 1850ms, -webkit-transform 2500ms 1250ms;
  transition: transform 2500ms 1250ms, opacity 1300ms 1850ms;
  transition: transform 2500ms 1250ms, opacity 1300ms 1850ms, -webkit-transform 2500ms 1250ms;
  opacity: 1;
}

.active .app__text--2 .app__text-line--4 {
  -webkit-transform: translate3d(0, -125px, 0);
          transform: translate3d(0, -125px, 0);
  -webkit-transition: opacity 1300ms 2125ms, -webkit-transform 2500ms 1325ms;
  transition: opacity 1300ms 2125ms, -webkit-transform 2500ms 1325ms;
  transition: transform 2500ms 1325ms, opacity 1300ms 2125ms;
  transition: transform 2500ms 1325ms, opacity 1300ms 2125ms, -webkit-transform 2500ms 1325ms;
  opacity: 1;
}

.mouse {
  position: relative;
  margin-right: 20px;
  min-width: 50px;
  height: 80px;
  border-radius: 30px;
  border: 5px solid rgba(255, 255, 255, 0.8);
}

.mouse:after {
  content: '';
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: scroll 1s infinite alternate;
          animation: scroll 1s infinite alternate;
}

@-webkit-keyframes scroll {
  100% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px);
  }
}

@keyframes scroll {
  100% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px);
  }
}

.pages {
  margin-left: 20px;
}

.pages__list {
  list-style-type: none;
}

.pages__item {
  position: relative;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #fff;
  cursor: pointer;
}

.pages__item:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0, 0);
          transform: translate(-50%, -50%) scale(0, 0);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.pages__item:hover:after {
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
          transform: translate(-50%, -50%) scale(1, 1);
  opacity: 1;
}

.page__item-active:after {
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
          transform: translate(-50%, -50%) scale(1, 1);
  opacity: 1;
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 50px;
}

.icon-link img {
  width: 100%;
  vertical-align: top;
}

.icon-link--twitter {
  left: auto;
  right: 5px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

section .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #000;
}

section .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}

@media screen and (max-width: 718px) {
  section .options {
    min-width: 520px;
  }
  section .options .option:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 638px) {
  section .options {
    min-width: 440px;
  }
  section .options .option:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 558px) {
  section .options {
    min-width: 360px;
  }
  section .options .option:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 478px) {
  section .options {
    min-width: 280px;
  }
  section .options .option:nth-child(2) {
    display: none;
  }
}

section .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

section .options .option:nth-child(1) {
  --defaultBackground:#ED5565;
}

section .options .option:nth-child(2) {
  --defaultBackground:#FC6E51;
}

section .options .option:nth-child(3) {
  --defaultBackground:#FFCE54;
}

section .options .option:nth-child(4) {
  --defaultBackground:#2ECC71;
}

section .options .option:nth-child(5) {
  --defaultBackground:#5D9CEC;
}

section .options .option:nth-child(6) {
  --defaultBackground:#AC92EC;
}

section .options .option.active {
  -webkit-box-flex: 10000;
      -ms-flex-positive: 10000;
          flex-grow: 10000;
  -webkit-transform: scale(1);
          transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
  /*&:active {
               transform:scale(0.9);
            }*/
}

section .options .option.active .shadow {
  -webkit-box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
          box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

section .options .option.active .label {
  bottom: 20px;
  left: 20px;
}

section .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}

section .options .option:not(.active) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 30px;
}

section .options .option:not(.active) .shadow {
  bottom: -40px;
  -webkit-box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
          box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

section .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}

section .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}

section .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

section .options .option .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

section .options .option .label .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}

section .options .option .label .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}

section .options .option .label .info > div {
  position: relative;
  -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

section .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}

section .options .option .label .info .sub {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

body {
  margin: 0px;
  text-align: center;
  padding-top: 43vh;
  color: #fff;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 100;
  overflow: hidden;
  -webkit-animation: bg 5s linear infinite;
          animation: bg 5s linear infinite;
}

.dropping-texts {
  display: inline-block;
  width: 180px;
  text-align: left;
  height: 36px;
  vertical-align: -2px;
}

.dropping-texts > div {
  font-size: 0px;
  opacity: 0;
  margin-left: -30px;
  position: absolute;
  font-weight: 300;
  -webkit-box-shadow: 0px 60px 25px -20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 60px 25px -20px rgba(0, 0, 0, 0.5);
}

.dropping-texts > div:nth-child(1) {
  -webkit-animation: roll 5s linear infinite 0s;
          animation: roll 5s linear infinite 0s;
}

.dropping-texts > div:nth-child(2) {
  -webkit-animation: roll 5s linear infinite 1s;
          animation: roll 5s linear infinite 1s;
}

.dropping-texts > div:nth-child(3) {
  -webkit-animation: roll 5s linear infinite 2s;
          animation: roll 5s linear infinite 2s;
}

.dropping-texts > div:nth-child(4) {
  -webkit-animation: roll2 5s linear infinite 3s;
          animation: roll2 5s linear infinite 3s;
}

@-webkit-keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@-webkit-keyframes roll2 {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  30% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  37% {
    font-size: 1500px;
    opacity: 0;
    margin-left: -1000px;
    margin-top: -800px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  30% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  37% {
    font-size: 1500px;
    opacity: 0;
    margin-left: -1000px;
    margin-top: -800px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@-webkit-keyframes bg {
  0% {
    background: #ff0075;
  }
  3% {
    background: #0094ff;
  }
  20% {
    background: #0094ff;
  }
  23% {
    background: #b200ff;
  }
  40% {
    background: #b200ff;
  }
  43% {
    background: #8BC34A;
  }
  60% {
    background: #8BC34A;
  }
  63% {
    background: #F44336;
  }
  80% {
    background: #F44336;
  }
  83% {
    background: #F44336;
  }
  100% {
    background: #F44336;
  }
}

@keyframes bg {
  0% {
    background: #ff0075;
  }
  3% {
    background: #0094ff;
  }
  20% {
    background: #0094ff;
  }
  23% {
    background: #b200ff;
  }
  40% {
    background: #b200ff;
  }
  43% {
    background: #8BC34A;
  }
  60% {
    background: #8BC34A;
  }
  63% {
    background: #F44336;
  }
  80% {
    background: #F44336;
  }
  83% {
    background: #F44336;
  }
  100% {
    background: #F44336;
  }
}
/*# sourceMappingURL=style2.css.map */