@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat');


*{
  font-family:'Tajawal', sans-serif;
 
}
body{
  margin: 0;
  padding: 0;
  font-size: calc(0.75em + 1vmin);
  background-color: white;
  font-family:'Tajawal', sans-serif;

}
/* -------- Header --------- */
header{
  text-align: center;
  font-family:'Tajawal', sans-serif;

}
/* ---------------- Sart of burger menue ----------- */

/* --------------------End of hamburger menue ----------*/
.header-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;


}

.header-nav {
  z-index: 20;
  position: fixed;
  width:100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16282A;
  color:#d8b397;
  font-size: 70%;
  text-decoration: none;
  
  
}
h6 a{

  text-decoration: none;
  color: #7c6552;
  font-weight: bolder;
  
}
h6 a:hover{

  text-decoration: none;
  color: #f5f2f0;
  font-weight: bolder;
  
}
.nav-fixed {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}

.nav-active {
  background-color:#fff;
  box-shadow: 5px -1px 12px -5px grey;
}

.header-video {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
 
}
.box {
  position: absolute;
}
.logo-overlay {
  display: flex;
  position: fixed;
  margin-top:40px ;
  height: auto;
  z-index: 9;
  width: 100%;
  justify-content: center;
  align-items: center; 
}
.logo{
  display: flex;
  /* justify-content: center;
  align-items: center; */
 margin: 3px;
  width:54px;
 height: 60px;

}
 .menu-overlay{
  margin-top:105px ;
  display: flex;
  z-index: 9;
  width: 100%;

  
}



.header-text{
  height: 9px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
   z-index: 5;
  font-weight: 400;
  font-family: Arial;
  background:transparent;
  
}
.text-up {
  min-height: 4em; 
}

.text-down {
  min-height: 4em;

}

.title-row {
  line-height: 0;/* here is maybe the magic you looked for*/
  text-align: center;
}

svg {
  display: block;
  font: 8em 'Montserrat';
  width: 90%;
  height: 300px;
  margin: 0 auto;
  line-height: 0;
  z-index: 45678;
  margin-top: -180px;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 7s infinite linear;
}

.text-copy:nth-child(1){
stroke: #d8b397;
animation-delay: -1;
}

.text-copy:nth-child(2){
stroke: #d8b397;
animation-delay: -2s;
}

.text-copy:nth-child(3){
stroke: #d8b397;
animation-delay: -3s;
}

.text-copy:nth-child(4){
stroke: #d8b397;
animation-delay: -4s;
}

.text-copy:nth-child(5){
stroke: #d8b397;
animation-delay: -5s;
}

@keyframes stroke-offset{
100% {stroke-dashoffset: -35%;}
}


/* -------- Body ----------- */
section{
  min-height: calc( 100vh - ( 80px + 25px ));
  
}
.body-container{
  width: 100%;
  max-width: 100%;
  margin: 0 ;
 

}
.section-1{
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;

 
}

.container{
  display: flex;
  font-size: 14px;
  margin: 0 auto ;
  justify-content: center;
  width: 85%;
  max-height: 100%;

}
/* ------------- section1 -------------- */

.s1-d1{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  
}

.s1-d1 p{
padding:30px;
 margin: 40px;
 font-size: 90px;
 margin-bottom: 0px;
 color:#16282a ;
  
}
.s1-d1 small{
  padding:30px;
   margin: 40px;
   font-size: 12px;
   font-weight: bold;
   padding-top: 0;
   margin-top: 0;
   color:#d8b397;
    
  }
.s1-d2{
  display: flex;

 align-items: center;
 justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

}
.s1-d2 img{
  display: flex; 
  position: relative;
  margin-top: 350px;
  width: 390px ;
  height: 620px;
  max-height: 700px;
  max-width: 400px;
  z-index: 1;
  
}

@media (max-width: 675px) {
  .container {
    flex-direction: column;
    height: 1000px;
  }
  .s1-d1{
    height: 50%;
    
  }
  .s1-d2{
    height: 50%;
  }
  .s1-d2 img {
    display: flex;
    width: 500px ;
    height: 400px;
    max-height: 400px;
    max-width: 500px;
  }
  .s1-d1 p{
    padding:30px;
    margin: 40px;
    font-size: 20px;
    font-weight: 10em ;
     margin-bottom: 0;
     
      
    }
}
/* ------------- section 2 -------------- */
.section-2{
  display: flex;
 background-color: #d8b397;
  width: 100%;
  height: 400px;
  justify-content: center;
}
.s2-d1{
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: right;

  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
 
}
.s2-d1 h1{
  padding-right: 30px;
  font-size: 50px ;
  margin: 0;
  z-index: 10;
  color:white;
}
.s2-d1 p{
  padding:30px;
  margin: 40px;
  font-weight: bold;
  line-height: 18pt;
  color: #16282a;
}

.s2-d2{
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

}

@media (max-width: 1287px) {
  .s2-d1 p{
    padding:20px;
    margin: 0;
   
  }
}
@media (max-width: 675px) {
  .section-2{
    height: 700px;
  }
  .section-2 .container {
    flex-direction: column-reverse;
  }
  .s2-d1{
    height: 60%;
    
  }
  .s2-d2{
    height: 50%;
  }
  .s1-d2 img{
    margin-top: 200px;
    width: 230px;
    max-width: 300px;
    z-index: 1;
  }
  .s2-d1 h1{
   
    margin: 0;
  }
  .s2-d1 p{
    padding:10px;
    margin: 0;
   
  }
}

@media (max-width: 285px) {
  .section-2 .container {
    flex-direction: column-reverse;
  }
  .s2-d1{
    height: 50%;
    
  }
  .s2-d2{
    height: 50%;
  }
  .s1-d2 img{
    margin-top: 200px;
    width: 230px;
    max-width: 300px;
    z-index: 1;
  }

 
 
}
/* ------------- section 3 -------------- */
.section-3{
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
}

.section-3 .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  font-size:36px;
  font-weight:100;
  overflow:hidden;

}

 
.section-3 .container h1{
  color: #16282a;

}
 
.section-3 .container span{
  color:#d8b397;
  
  }

@media (max-width: 1287px) {

}
@media (max-width: 675px) {
  .section-2{
    height: 400px;
  }
  .section-3 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-size: 20px;
  }

  
}

@media (max-width: 285px) {
  .section-3 .container {
    flex-direction: column;
   
  }
  
}
 
/* ------------- section 4 -------------- */
.section-4{
  display: flex;
  background-color: #16282a;
  width: 100%;
  height: 400px;
  justify-content: center;
}

.s4-d1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#f1f1f1;

  width: 50%;
  height: 100%;
  max-width: 50%;
  max-height: 100%;
 
}


.swiper-container {
  width: 95%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #d8b397;
  padding: 0;
  margin: 0;
  height: 10px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



.s4-d2{
  flex-direction: column;
  display: flex;
  justify-content: center;

  text-align: right;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

}
.s4-d2 h1{
  padding-right: 60px;
  text-align: right;
  font-size: 50px ;
  margin: 0;
  z-index: 10;
  color:white;

}
.s4-d2 p{

  padding-right: 60px;
  font-weight: bold;
  line-height: 18pt;
  color: #d8b397;
}

@media (max-width: 1287px) {
  .s4-d1 p{
    padding:20px;
    margin: 0;
   
  }
}
@media (max-width: 675px) {
  .section-4{
    height: 400px;
  }
  .section-4 .container {
    flex-direction: column-reverse;
  
  }
  .s4-d1{
    height: 50%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  
    
  }
  .s4-d2{
    height: 50%;
  }


  }


@media (max-width: 285px) {
  .section-4 .container {
    flex-direction: column-reverse;
  }
  .s4-d1{
    height: 50%;
    
  }
  .s4-d2{
    height: 50%;
  }
}
/* ------------- section 5 -------------- */
.section-5{
  display: flex;

  width: 100%;
  height: 400px;
  justify-content: center;
  flex-direction: row;
}
.section-5 .container{
  display: flex;

  height: 100%;
  justify-content: space-between;
  font-weight: bolder;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 150px;

 
}
 .counter{

text-align: center;
font-size: 30px;
color:#d8b397 ;
justify-content: center;
 
}

.stats-text{
  text-align: center;
  color:#16282a ;
  font-size: 30px;
}





/* ------------- section 6 -------------- */
.section-6{
  display: flex;
 background-color: #d8b397;
  width: 100%;
  height: 400px;
  justify-content: center;
}
/* ------------- section 6 -------------- */
.section-7{
  display: flex;

  width: 100%;
  height: 400px;
  justify-content: center;
}

/* -------- Footer --------- */

footer {
  margin: 0;    
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 0;
  height: auto;
  background-color:#162821;
  text-align: center;
  justify-content: center;
}
.footer-container {
  background-color:#162821;
  padding: 15px 0;
 
}
.footer-icons ul{
  padding:0;

}

.footer-icons ul li {
  display: inline-block;

}

.footer-icons ul li a {

  border: 1px solid #d8b397;
  color: #d8b397;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;

  width: 40px;
  border-radius: 50%;
}

.fa {
 
  font-size: 23px;

  text-decoration: none;
  height: 40px;
  line-height: 38px;
  width: 40px;
}

.popular-tag ul li a:hover,
.footer-icons ul li a:hover {
  background: #d8b397;
  border: 1px solid #d8b397;
  color: #331e21;
}

/* to make the logos in the center of the div  */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
html,
body {
  height: 100%
}

/* the size of the logos */
.item{
  width: 250px;
}


